@page "/category"
@page "/category/{id:int}"

@if (Id == 0)
{
    <h3 class="text-center">New Category</h3>
}
else
{
    <h3 class="text-center">Category "@CategoryModel!.Name"</h3>
}

<EditForm EditContext="Context" OnValidSubmit="SubmitAsync">
    <DataAnnotationsValidator />

    <div class="form-group mb-2">
        <label><strong>Code</strong></label>
        <InputText class="form-control" @bind-Value="CategoryModel!.Code" placeholder="Enter Category Code" />
        <ValidationMessage For="() => CategoryModel.Code" />
    </div>
    <div class="form-group mb-2">
        <label><strong>Name</strong></label>
        <InputText class="form-control" @bind-Value="CategoryModel!.Name" placeholder="Enter Category Name" />
        <ValidationMessage For="() => CategoryModel.Name" />
    </div>
    <div class="form-group mb-2">
        <label><strong>Description</strong></label>
        <InputTextArea class="form-control" @bind-Value="CategoryModel!.Description" placeholder="Enter Description" />
    </div>

    <button class="btn btn-primary mb-2" type="submit">Submit</button>
</EditForm>

<button hidden="@hidden" class="btn btn-danger" type="button" @onclick="DeleteAsync">
    Delete
</button>
