@page "/supplier"
@page "/supplier/{id:int}"

@if (Id == 0)
{
    <h3 class="text-center">New Supplier</h3>
}
else
{
    <h3 class="text-center">Supplier "@SupplierModel!.Name"</h3>
}

<EditForm EditContext="Context" OnValidSubmit="SubmitAsync">
    <DataAnnotationsValidator />

    @if (Id == 0)
    {
        <div class="form-group mb-2">
            <img width="200" height="200" id="imgElement" />
        </div>
    }
    else
    {
        <div class="form-group mb-2">
            <img width="200" height="200" id="imgElement" src="/images/Suppliers/@SupplierModel!.ImageUrl" />
        </div>
    }

    <div class="form-group mb-2">
        <label>Image</label>
        <InputFile OnChange="@LoadFileAsync" id="inputFileElement" />
    </div>

    <div class="form-group mb-2">
        <label><strong>Company Code</strong></label>
        <InputText class="form-control" @bind-Value="SupplierModel!.Code" placeholder="Enter Company Code" />
        <ValidationMessage For="()=>SupplierModel.Code" />
    </div>
    <div class="form-group mb-2">
        <label><strong>Company Name</strong></label>
        <InputText class="form-control" @bind-Value="SupplierModel!.Name" placeholder="Enter Company Name" />
        <ValidationMessage For="()=>SupplierModel.Name" />
    </div>
    <div class="form-group mb-2">
        <label><strong>Contact Name</strong></label>
        <InputText class="form-control" @bind-Value="SupplierModel!.Contact" placeholder="Enter Contact Name" />
        <ValidationMessage For="()=>SupplierModel.Contact" />
    </div>
    <div class="form-group mb-2">
        <label><strong>Address</strong></label>
        <InputTextArea class="form-control" @bind-Value="SupplierModel!.Address" placeholder="Enter Address" />
        <ValidationMessage For="()=>SupplierModel.Address" />
    </div>
    <div class="form-group mb-2">
        <label><strong>City</strong></label>
        <InputText class="form-control" @bind-Value="SupplierModel!.City" placeholder="Enter City" />
        <ValidationMessage For="()=>SupplierModel.City" />
    </div>
    <div class="form-group mb-2">
        <label><strong>Postal Code</strong></label>
        <InputText class="form-control" @bind-Value="SupplierModel!.Postal" placeholder="Enter Postal Code" />
        <ValidationMessage For="()=>SupplierModel.Postal" />
    </div>
    <div class="form-group mb-2">
        <label><strong>Phone</strong></label>
        <InputText class="form-control" @bind-Value="SupplierModel!.Phone" placeholder="Enter Phone" />
        <ValidationMessage For="()=>SupplierModel.Phone" />
    </div>
    <div class="form-group mb-2">
        <label><strong>Email</strong></label>
        <InputText class="form-control" @bind-Value="SupplierModel!.Email" placeholder="Enter Email" />
        <ValidationMessage For="()=>SupplierModel.Email" />
    </div>
    <div class="form-group mb-2">
        <label><strong>Web Address</strong></label>
        <InputText class="form-control" @bind-Value="SupplierModel!.Web" placeholder="Enter Web Address" />
    </div>

    <button class="btn btn-primary mb-2" type="submit">Submit</button>
</EditForm>

<button hidden="@hidden" class="btn btn-danger" type="button" @onclick="DeleteAsync">
    Delete
</button>